ClientNet/Connected Services/ServiceReferenceLogin/LoginService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50825/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.models" />
  <xs:element name="Authentification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService.models" minOccurs="0" name="Client" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthentificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService.models" minOccurs="0" name="AuthentificationResult" nillable="true" type="q2:ClientResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>